*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(228, 228, 228);
    font-family: sans-serif;
}

.box{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea{
    width: 100%;
    height: 120px;
    padding: 1rem;
    font-size: 16px;
    border: 2px solid #888;
    border-radius: 8px;
    outline: none;
}

#count{
    font-weight: bold;
}
