*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro h1 {
    width: 100%;
    text-align: center;
    background-color:bisque ;
    color: black;

}

.intro-p{
    height:100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}


.intro p{
    font-size: 18px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2rem 1.2rem;
    background-color: skyblue;
}